<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
  <context id="DB2Tables" targetRuntime="MyBatis3">
  <!-- 配置数据库连接 -->
  	
  	<!-- 不生成注释 -->
	<commentGenerator>
	  <property name="suppressDate" value="true" />
	</commentGenerator>
	
    <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
        connectionURL="jdbc:mysql://localhost:3306/emotiontext?useSSL=false&amp;serverTimezone=UTC&amp;characterEncoding=utf-8"
        userId="root"
        password="sdj808545365">
    </jdbcConnection>

    <javaTypeResolver >
      <property name="forceBigDecimals" value="false" />
    </javaTypeResolver>
	<!-- javaBean生成位置 -->
    <javaModelGenerator targetPackage="com.sdj.bean" targetProject=".\src\main\java">
      <property name="enableSubPackages" value="true" />
      <property name="trimStrings" value="true" />
    </javaModelGenerator>
	<!-- sql映射文件生成位置 -->
    <sqlMapGenerator targetPackage="mapper"  targetProject=".\src\main\resources">
      <property name="enableSubPackages" value="true" />
    </sqlMapGenerator>
	<!-- dao接口生成位置 -->
    <javaClientGenerator type="XMLMAPPER" targetPackage="com.sdj.dao"  targetProject=".\src\main\java">
      <property name="enableSubPackages" value="true" />
    </javaClientGenerator>
	
	<!-- 制定表的生成策略 -->
    <table schema="DB2ADMIN" tableName="text" domainObjectName="EmotionText" ></table>
	
  </context>
</generatorConfiguration>